# Secrets
Secrets.swift

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v2
*.mode2v2
*.perspectivev3

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store